{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "useTabs": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "trailingComma": "none",
  "arrowParens": "avoid"
}
